@charset "UTF-8";


h3{
	font-size: 2em !important;
	text-align:center;
	margin-top: 30px;
	margin-bottom: 10px;
}

.ilmo{
	color: green;
    font-size: 20px;
    position: relative;
    top: 100px;
    text-align: left;
}

.tiedot{
	position:absolute;
}


body{
	background-color: #EBEBEB;
}


table.uusi-asiakas{
	background-color: #191970;
	color: whitesmoke;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
}



.takaisin{
		cursor: pointer;
		margin-top: 10px;
		background-color: slategrey;
}

input.lisaa{
	background-color: #008c00;
	color: whitesmoke;
}

input.hakunappi{
	width: 200px;
}

.oikealle{
	text-align: right;
}

td input{
	height: 30px;
}


.content-table{
	border-collapse: collapse;
	border-radius: 10px 10px 4px 4px;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	font-size: 0.9em;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	
}

.content-table thead tr {
	background-color: 	#191970;
	color: #ffffff;
	text-align: left;
}

.content-table th,
.content-table td{
	padding: 12px 15px;
	
}

.content-table tbody tr{
	border-bottom: 1px solid #dddddd;
	
}

.content-table tbody tr:nth-of-type(even){
	background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type{
	border-bottom: 5px solid #191970;
}

.btn{
	color: #ffffff;
	background-color: #191970;
	width: 100px;
	text-align:left;
	border-radius: 10px 10px 10px 10px;
}
.form-control{
	
	width: 500px;
	
}


.poista {
	color:red;
	cursor: pointer;
}

input{
	width: 200px;
}

input.haku{
	width: 400px;

	}
	
